# Fraud Detection System Environment Variables (Template)
# Copy this file to .env and adjust values as needed.

# API Endpoint URL for Frontend Streamlit to connect to FastAPI Backend
API_URL=https://f65e-20-212-171-173.ngrok-free.app
